<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Finding Nemo</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header" class="container">
	<div id="logo">
		<h1><a href="#">FINDING NEMO</a></h1>
	</div>
	<div id="menu">
		<ul>
			<li class="active"><a th:href="@{/home}" accesskey="1" title="">Home</a></li>
			<li><a th:href="@{/upload}" accesskey="3" title="">Upload</a></li>
			<li><a th:href="@{/search}" accesskey="3" title="">Search</a></li>
			<li><a th:href="@{/login}"  >LogOut</a></li>
			
		</ul>
	</div>
</div>
<div id="page">
	<div class="container">
		<div class="title">
			<h2>ABOUT US</h2>
			<p>This is <strong>FINDING NEMO</strong>, a free, useful website to find your lost things easly just sign up and search for your staff</p>
		</div>
		<div class="boxA">
			<div class="box margin-btm">
				<img src="images/pic01.jpg" width="320" height="180" alt="" />
				<div class="details">
					<p> Search your lost item </p>
				</div>
				
			</div>
			<div class="box">
				<img src="images/pic02.jpg" width="320" height="220" alt="" />
				<div class="details">
					<p> In this site you can found you lost staff </p>
				</div>
				
			</div>
		</div>
		<div class="boxB">
			<div class="box">
				<img src="images/pic03.jpg" width="320" height="280" alt="" />
				
				<div class="details">
					<p> It's easy website </p>
				</div>
			
			</div>
			<div class="box">
				<img src="images/pic05.jpg" width="320" height="140" alt="" />
				<div class="details">
					<p> it's free </p>
				</div>
			
			</div>
			
		</div>
		<div class="boxC">
			<div class="box">
				<img src="images/pic04.jpg" width="320" height="200" alt="" />
			<div class="details">
					<p> easy to contact people </p>
				</div>
				
			</div>
			<div class="box">
				<img src="images/pic06.jpg" width="320" height="200" alt="" />
				<div class="details">
					<p> take a look :")" </p>
				</div>
				
			</div>
			
		</div>
	</div>
</div>
<div id="copyright" class="container">
	<p>Copyright (c) 2019 PowerPuff Girls :")  | Thank you for visiting us. </p>
</div>
</body>
</html>
